*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lobster', cursive;
}

/*Tipografia*/
/*classes e ids*/
h2{
  font-size: 50px;
  font-style: normal;
  font-weight: bolder;
  font-family: 'Lobster', cursive;
}
.teste{
  color: red;
}
#teste{
  color: green;
}
p.paragrafo{
  font-size: 30px;
}
