*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body{
  font-family: tahoma;
}


/*Header*/
header{
  width: 100%;
  display: flex;
  justify-content: space-around;
  background-color: #383838;
  align-items: center;  
}

header .w15{
  width: 15%;
}
header .w70{
  width: 70%;
}
header .w15{
  width: 15%;
}

/*Header Logo*/
header .logo{
  align-items: center;
  text-align: center;
}
header .logo img{
  max-width: 100px;
  width: 100%;
}
/*Header Logo*/

/*Header menu*/
header .menu{
  text-align: center;
}
header .menu a{
  color: #ffff;
  text-decoration: none;
  padding: 8px 50px;
  font-size: 18px;
  border-radius: 8px;
  transition: 0.5s;
}
header .menu a:hover{
  background-color: rgba(255, 255, 255, 0.4);
}
/*Header menu*/

/*Header login e cadastro*/
header .login-cadastro{
  text-align: center;
  font-size: 18px;
}
header .login-cadastro a{
  color: #ffff;
  padding: 8px 10px;
  border-radius: 8px;
  transition: 0.5s;
}
header .login-cadastro a:hover{
  background-color: rgba(255, 255, 255, 0.4);
} 
header .login-cadastro span{
  color: #ffff;
}
/*Header login e cadastro*/

/*MAIN*/
main{
  width: 100%;
  height: 100vh;
  background-image: url("../image-background/ibeq-imagem-background.jpeg");
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center;
  padding-top: 10px;
}
section .carrossel{
  display: flex;
  max-width: 1100px;
  width:100%;
  height: 400px;
  margin: 0px auto;
  box-shadow: 10px 10px 15px rgba(0,0,0);
  overflow: hidden;
}
section .carrossel img{
  min-width: 1100px;
  width: 100%;
  position: relative;
  animation: slide 15s infinite linear;
}
@keyframes slide{
  0%{left:0px}
  20%{left: 0px;}
  40%{left: -1100px;}
  60%{left: -1100px;}
  80%{left: -2200px;}
  100%{left: -2200px;}
}
/*MAIN*/


/*Footer*/
footer{
  display: flex;
  width: 100%;
  background-color: #383838;
  justify-content: space-around;
  color: #ffff;
  font-size: 16px;
  padding: 20px 0;
}
footer .w33{
  width: 33.3%;
  text-align: justify;
}
footer .endereco{
  text-align: left;
  padding-left: 5px;
}
footer .endereco p{
  margin-top: 5px;
}
footer .contato{
  text-align: center;
}
footer .contato p{
  margin-top: 5px;
}
footer .redes-sociais{
  text-align: center;
}
footer .redes-sociais p{
  margin-top: 5px;
}
/*Footer*/
