*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lobster', cursive;
}

/*Tipografia*/
/*Cores e Background*/
div{
  background-color: rgba(82, 170, 197, 0.863);
}
h2{
  color: rgb(197, 90, 90);
  box-shadow: 20px 20px 20px #fff;
}